<div class="col-md-7">
	<%= image_tag "subway_map.png", size:"650x540", id:"subway_map" %>
</div>
<div class="col-md-3 railcolumn">
	<div id="railtext">
		<p>The Minecraft Municipal Railway Company offers service on the Orange, Blue, and Green lines for the convenience of travellers in this area.</p>
		<ul>
			<li>The Company is pleased to announce the recent opening of Blue Line service from <strong>Sunflower Creek</strong> to <strong>Deeping Norton/Dwarfhome</strong>.</li>
			<li>Passengers are advised that, due to local risks, service at <strong>Dungeon</strong> is for prepared adventurers only.</li>
			<li>Due to ongoing diplomatic discussions, service on the Orange Line to <strong>Night City</strong> may be sporadic.</li>
			<li>Passengers alighting at <strong>Kargorisgrad</strong> may be subject to customs inspection.  We apologize for any inconvenience.</li>
		</ul>
	</div>
</div>
