<div class="col-md-8">
	<%= image_tag "subway_map.png", size:"909x508", id:"subway_map" %>
</div>
<div class="col-md-2">
	<div id="railtext">
		<p>The Minecraft Municipal Railway Company offers service on the Orange, Blue, and Green line for the convenience of travellers in this area.</p>
		<ul>
			<li>The Company is pleased to announce the imminent opening of Green Line service from <strong>Spencerville</strong> to <strong>Floral Hill/Samshire</strong>.</li>
			<li>Passengers are advised that, due to local risks, service at <strong>Dungeon</strong> is for prepared adventurers only.</li>
			<li>Due to ongoing diplomatic discussions, service on the Orange Line to <strong>Night City</strong> is currently unavailable.</li>
			<li>Passengers alighting at <strong>Kargorisgrad</strong> may be subject to customs inspection.  We apologize for any inconvenience.</li>
			<li>Please note that night construction at <strong>Mount Remus/Hidden Valley</strong> may cause delays.</li>
		</ul>
	</div>
</div>