<% #binding.pry %>
<% @articles.each { |x| %>
	<article>
		<p><h2><strong><%= x.title %></strong></h2></p>
		<p><em>By <%= x.user.name %> (posted <%= x.created_at.strftime("%A, %B %d, %Y") %>)</em><p>
		<p><%= x.text %></p>
	</article>
<% } %>