%p
  %h4
    PRICE: 4 Iron Pieces
%hr
%p
  %h4.advertisement
    Play Twin Falls!
%p
  %h4
    192.99.44.131:26182
%hr
%p.boilerplate
  Published by the Twin Falls Telegram Printing Co.
%p.boilerplate
  Audited Circulation: 10
%br
