<div id="sidebar">
	<p><h4><strong>Coming soon: The Encylopedia Cataractica</strong></h4></p>
	<hr>
	<p><h4><strong>PRICE: 4 Iron Pieces</strong></h4></p>
	<hr>
	<p><h4 class="advertisement">Play Twin Falls!</h4></p>
	<p><h4 class="advertisement">192.99.44.131:26182</h4></p>
	<hr>
	<p class="boilerplate">Published by the Twin Falls Telegram Printing Co.</p>
	<p class="boilerplate">Audited Circulation: 9</p>
</div>