	<div id="weatherbox">
		<p><h2><strong>Current Weather Conditions</strong></h2></p>
		<% weather_conditions = pull_weather %>
		<% current_temp = weather_conditions[:temp].round.to_s %>
		<% icon_url = "http://openweathermap.org/img/w/" + weather_conditions[:icon] + ".png" %>
		<p><h2><%=weather_conditions[:location]%></h2></p>

		<div id="weather_container">
			<div id="weather_display">
				<h1><%= current_temp %>°</h1>
				<p><h2><%=weather_conditions[:conditions] %></h2></p>
			</div>
			<div id="weather_icon">
				<img src=<%=icon_url%> />
			</div>
		</div>
	</div>