<% random_weather_locations = WEATHER_CITIES.keys.sample(3) %>
<div id="weather_container">
	<div id="weather_display">
	<% random_weather_locations.each { |city| %>
		<% local_weather_data = pull_weather(WEATHER_CITIES[city]["stand_in"]) %>
	<h4><%= WEATHER_CITIES[city]["locale"]%></h4>
			<%= local_weather_data[:temp] %>°
					<%= local_weather_data[:conditions] %>
							<%= image_tag(local_weather_data[:icon_url]) %>
	<% } %>
	</div>
</div>
